/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Retrait du style des input sans style */
input.no-style {
    border: 0px solid black;
    display: block;
    width: 100%;
}